<div class="w-full md:w-5/6 mx-auto p-5">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="mb-4">
            <label for="name" class="block text-sm font-medium text-gray-700"
                >Nombre</label
            >
            <input
                id="name"
                type="text"
                formControlName="name"
                class="mt-1 block w-full p-2 border rounded-md"
                placeholder="Nombre del contacto"
            />
            <div
                *ngIf="
                    contactForm.get('name')?.invalid &&
                    contactForm.get('name')?.touched
                "
                class="text-red-500 text-sm"
            >
                El nombre es requerido
            </div>
        </div>

        <div class="mb-4">
            <label
                for="birthday"
                class="block text-sm font-medium text-gray-700"
                >Cumpleaños</label
            >
            <input
                id="birthday"
                type="date"
                formControlName="birthday"
                class="mt-1 block w-full p-2 border rounded-md"
            />
        </div>

        <div class="mb-4">
            <label for="website" class="block text-sm font-medium text-gray-700"
                >Sitio web</label
            >
            <input
                id="website"
                type="url"
                formControlName="website"
                class="mt-1 block w-full p-2 border rounded-md"
                placeholder="https://ejemplo.com"
            />
        </div>

        <div class="mb-4">
            <label for="company" class="block text-sm font-medium text-gray-700"
                >Compañía</label
            >
            <input
                id="company"
                type="text"
                formControlName="company"
                class="mt-1 block w-full p-2 border rounded-md"
                placeholder="Compañía del contacto"
            />
        </div>

        <div class="mb-4">
            <label for="notes" class="block text-sm font-medium text-gray-700"
                >Notas</label
            >
            <textarea
                id="notes"
                rows="3"
                formControlName="notes"
                class="mt-1 block w-full p-2 border rounded-md"
                placeholder="Notas sobre el contacto"
            ></textarea>
        </div>

        <div class="mb-4">
            <div class="flex justify-between items-center">
                <label
                    for="phoneNumbers"
                    class="block text-sm font-medium text-gray-700 mb-3 grow"
                    >Números de teléfono</label
                >
            </div>
            <div class="w-full" formArrayName="phoneNumbers">
                @for (phone of phoneNumbers.controls; track $index) {
                <div [formGroupName]="$index" class="flex mb-2 w-full">
                    <input
                        formControlName="number"
                        type="tel"
                        class="mt-1 inline w-80 p-2 border rounded-md grow"
                        placeholder="Número de teléfono"
                    />
                    <button
                        type="button"
                        class="bg-transparent inline text-red-600 px-2 rounded grow-0"
                        (click)="removePhoneNumber($index)"
                    >
                        <fa-icon [icon]="faTrash"></fa-icon>
                    </button>
                </div>
                <div
                    *ngIf="phone.invalid && phone.touched"
                    class="text-red-500 text-sm"
                >
                    Un número de teléfono válido es requerido
                </div>
                }
            </div>

            <button
                class="font-base text-sm text-blue-600 underline dark:text-blue-500 hover:no-underline"
                (click)="addPhoneNumber()"
            >
                <fa-icon [icon]="faPlus"></fa-icon> Agregar número
            </button>
        </div>

        <div class="mb-4">
            <div class="flex justify-between items-center">
                <label
                    for="emails"
                    class="block text-sm font-medium text-gray-700 mb-3"
                    >Correos electrónicos</label
                >
            </div>
            <div class="w-full" formArrayName="emails">
                @for (address of emails.controls; track $index) {

                <div [formGroupName]="$index" class="flex mb-2 w-full">
                    <input
                        formControlName="address"
                        type="address"
                        class="mt-1 inline w-80 p-2 border rounded-md grow"
                        placeholder="Correo electrónico"
                    />
                    <button
                        type="button"
                        class="bg-transparent inline text-red-600 px-2 rounded w-10 grow-0 hover:opacity-80"
                        (click)="removeEmail($index)"
                    >
                        <fa-icon [icon]="faTrash"></fa-icon>
                    </button>
                </div>
                <div
                    *ngIf="address.invalid && address.touched"
                    class="text-red-500 text-sm"
                >
                    Un correo electrónico válido es requerido
                </div>
                }
            </div>

            <button
                class="font-base text-sm text-blue-600 underline dark:text-blue-500 hover:no-underline"
                (click)="addEmail()"
            >
                <fa-icon [icon]="faPlus"></fa-icon> Agregar email
            </button>
        </div>

        <div class="mb-4">
            <div class="flex justify-between items-center">
                <label
                    for="addresses"
                    class="block text-sm font-medium text-gray-700 mb-3"
                    >Direcciones</label
                >
            </div>
            <div class="w-full" formArrayName="addresses">
                @for (location of addresses.controls; track $index) {
                <div [formGroupName]="$index" class="flex mb-2 w-full">
                    <input
                        formControlName="location"
                        type="text"
                        class="mt-1 w- p-2 border rounded-md grow"
                        placeholder="Dirección"
                    />
                    <button
                        type="button"
                        class="bg-transparent inline text-red-600 px-2 rounded w-10 grow-0 hover:opacity-80"
                        (click)="removeAddress($index)"
                    >
                        <fa-icon [icon]="faTrash"></fa-icon>
                    </button>
                </div>
                <div
                    *ngIf="location.invalid && location.touched"
                    class="text-red-500 text-sm"
                >
                    Una dirección válida es requerida
                </div>
                }
            </div>

            <button
                class="font-base text-sm text-blue-600 underline dark:text-blue-500 hover:no-underline"
                (click)="addAddress()"
            >
                <fa-icon [icon]="faPlus"></fa-icon> Agregar dirección
            </button>
        </div>

        <button
            type="submit"
            class="bg-blue-600 text-white px-4 py-2 rounded disabled:opacity-20 disabled:cursor-not-allowed"
        >
            {{ id ? 'Actualizar contacto' : 'Agregar contacto' }}
        </button>
    </form>
</div>
