<main class="h-screen max-h-screen flex flex-row">
    <section class="w-1/2 bg-white p-4 border shadow-lg overflow-y-auto">
        <div class="relative w-full">
            <div
                class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none"
            >
                <fa-icon
                    class="w-4 h-4 text-gray-500 dark:text-gray-400 mb-2"
                    [icon]="faSearch"
                ></fa-icon>
            </div>
            <input
                type="text"
                name="search"
                id="table-search-users"
                autocomplete="off"
                class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-full bg-gray-50 focus:ring-blue-500 focus:border-blue-500 w-full"
                placeholder="Buscar contacto..."
            />
        </div>

        <ul class="divide-y divide-gray-200">
            <li
                (click)="createContact()"
                class="flex items-center py-4 px-6 cursor-pointer hover:bg-slate-100"
                [routerLink]="['create']"
                routerLinkActive="bg-slate-100"
            >
                <div
                    class="flex justify-center items-center size-12 rounded-full bg-red-500 text-white font-bold text-2xl text-center mr-4"
                >
                    +
                </div>
                <div class="flex-1">
                    <h2 class="text-lg font-medium text-gray-800">
                        Agregar contacto
                    </h2>
                </div>
            </li>

            @for(contact of contacts(); track $index) {
            <li
                class="group flex flex-col md:flex-row items-center py-4 px-6 cursor-pointer hover:bg-slate-100"
                [routerLink]="[contact.id]"
                routerLinkActive="bg-slate-100"
            >
                <div
                    class="flex justify-center items-center size-12 min-w-12 rounded-full bg-blue-500 text-white font-bold text-2xl text-center mr-4"
                >
                    {{ contact.name[0] }}
                </div>
                <div class="flex-1">
                    <h1 class="text-lg font-medium text-gray-800">
                        {{ contact.name }}
                    </h1>

                    <p class="text-sm text-gray-600">
                        {{ getFirstPhoneNumber(contact) }}
                    </p>

                    <p class="text-sm text-gray-600">
                        {{ getFirstEmail(contact) }}
                    </p>
                </div>
                <div class="flex md:items-center ml-2">
                    <span class="text-xs text-gray-500">{{
                        contact.company
                    }}</span>
                </div>

                <a
                    class="hidden group-hover:flex justify-center items-center size-7 min-w-7 ml-4 text-blue-500 cursor-pointer hover:rounded-full hover:bg-blue-500 hover:text-white"
                    [routerLink]="[contact.id, 'edit']"
                    (click)="stopPropagation($event)"
                >
                    <fa-icon [icon]="faPencil"></fa-icon>
                </a>
                <a
                    class="hidden group-hover:flex justify-center items-center size-7 min-w-7 ml-4 text-red-500 cursor-pointer hover:rounded-full hover:bg-red-500 hover:text-white"
                    (click)="deleteContact($event, contact)"
                >
                    <fa-icon [icon]="faTrash"></fa-icon>
                </a>
            </li>
            }
        </ul>
    </section>

    <section
        class="w-1/2 bg-white border shadow-lg overflow-auto scrollable transition duration-500"
    >
        <router-outlet></router-outlet>
    </section>
</main>

@if (isDelete) {

<div class="fixed z-10 inset-0 overflow-y-auto" id="delete">
    <div
        class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
    >
        <div class="fixed inset-0 transition-opacity" aria-hidden="true">
            <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
        </div>
        <span
            class="hidden sm:inline-block sm:align-middle sm:h-screen"
            aria-hidden="true"
            >&#8203;</span
        >
        <div
            class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
            role="dialog"
            aria-modal="true"
            aria-labelledby="modal-headline"
        >
            <div>
                <div
                    class="mx-auto flex items-center justify-center h-12 w-12 rounded-full bg-red-100"
                >
                    <fa-icon
                        class="h-6 w-6 ml-3 text-red-600"
                        [icon]="faTrash"
                    ></fa-icon>
                </div>
                <div class="mt-3 text-center sm:mt-5">
                    <h3
                        class="text-lg leading-6 font-medium text-gray-900"
                        id="modal-headline"
                    >
                        Confirmación de Eliminación
                    </h3>
                    <div class="mt-2">
                        <p class="text-sm text-gray-500">
                            ¿Estás seguro de que deseas eliminar este contacto:
                            <span class="font-semibold text-red-600">{{
                                contactDetails()?.name
                            }}</span
                            >? Esta acción es irreversible.
                        </p>
                    </div>
                </div>
            </div>
            <div class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse">
                <span
                    class="flex w-full rounded-md shadow-sm sm:ml-3 sm:w-auto"
                >
                    <button
                        (click)="acceptDelete()"
                        type="button"
                        class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-red-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-red-500 focus:outline-none focus:shadow-outline-red transition ease-in-out duration-150 sm:text-sm sm:leading-5"
                    >
                        Accept
                    </button>
                </span>
                <span
                    class="mt-3 flex w-full rounded-md shadow-sm sm:mt-0 sm:w-auto"
                >
                    <button
                        (click)="cancel()"
                        type="button"
                        class="inline-flex justify-center w-full rounded-md border border-gray-300 px-4 py-2 bg-white text-base leading-6 font-medium text-gray-700 shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue transition ease-in-out duration-150 sm:text-sm sm:leading-5"
                    >
                        Cancel
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>
}
